
<mat-card class="card-wrapper">
    <img mat-card-image style="width: 150px;" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Angular Logo">
    <mat-card-header>
        <mat-card-title>Title for this construction project!</mat-card-title>
        <mat-card-subtitle>
        Project descriptionProject descriptionProject descriptionProject descriptionProject description
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Client: Name Surname</p>
        <p>End date: 2021-01-11</p>
        <p>Budget: 500,000$</p>
        <p>Status: in progress</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary">DETAILS</button>
    </mat-card-actions>
</mat-card>
