/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
}

app-root {
    display: block;
    height: 100%;
}

[ng-reflect-router-link]{
    text-decoration: none;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-sidenav[style] {
    visibility: visible !important;
  }
  .mat-drawer {
    transform: none !important;
}
mat-sidenav-content[style]{
    margin-left: 0px !important;
}

.no-margins-no-padding{
    margin: 0;
    padding: 0;
    vertical-align:top
}

.material-icons.color_green { color: green;}
.material-icons.color_red { color: red; }
.material-icons.color_yellow {color: #F6BE00};

.green-text { color: green;}
.red-text { color: red; }

.mat-card-custom-color{
    margin-bottom: 20px;
    background-color: #fafafa;
}
