<mat-card class="mat-card-custom-color">
    <h2>Employee List</h2>
    <mat-divider></mat-divider>
    <table 
        mat-table 
        matSort 
        (matSortChange)="sortChanged($event)" 
        [dataSource]="dataSource" style="width: 100%;"
        >
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header"><mat-icon>key</mat-icon>First Name</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>description</mat-icon>Last Name</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>date_range</mat-icon>Username</th>
            <td mat-cell *matCellDef="let element"> {{element.username}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>date_range</mat-icon>Phone</th>
            <td mat-cell *matCellDef="let element"> {{element.phone}}</td>
        </ng-container>
        <ng-container matColumnDef="hireDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>date_range</mat-icon>Hire Date</th>
            <td mat-cell *matCellDef="let element"> {{element.hireDate | date:'longDate'}}</td>
        </ng-container>
        <ng-container matColumnDef="userType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>date_range</mat-icon>User Type</th>
            <td mat-cell *matCellDef="let element"> {{typeEnum[element.userType]}}</td>
        </ng-container>

        <ng-container matColumnDef="settings">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><mat-icon>settings</mat-icon>Settings</th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon (click)="OpenAddEditItemDialog(element)" matTooltip="Edit item">settings</mat-icon>
                <mat-icon (click)="deleteItem(element.userId)" matTooltip="Edit item">delete</mat-icon></td>
        </ng-container>
        
        <ng-container matColumnDef="firstName-filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <mat-label>Search by first name</mat-label>
                    <input matInput (keyup)="keyup($event, userListFilterColumnsEnum.FirstName)">
                </mat-form-field>
            </th>
         </ng-container>

         <ng-container matColumnDef="lastName-filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <mat-label>Search by last name</mat-label>
                    <input matInput (keyup)="keyup($event, userListFilterColumnsEnum.LastName)">
                </mat-form-field>
            </th>
         </ng-container>
         <ng-container matColumnDef="username-filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <mat-label>Search by username</mat-label>
                    <input matInput (keyup)="keyup($event, userListFilterColumnsEnum.Username)">
                </mat-form-field>
            </th>
         </ng-container>
         <ng-container matColumnDef="phone-filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <mat-label>Search by phone</mat-label>
                    <input matInput (keyup)="keyup($event, userListFilterColumnsEnum.Phone)">
                </mat-form-field>
            </th>
         </ng-container>
         <ng-container matColumnDef="hireDate-filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <mat-label>Search by date</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" 
                            (dateChange)="dateChange($event, userListFilterColumnsEnum.HireDateStart)">
                        <input matEndDate placeholder="End date" 
                            (dateChange)="dateChange($event, userListFilterColumnsEnum.HireDateEnd)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </th>
         </ng-container>
         <ng-container matColumnDef="userType-filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <mat-label>Search by user type</mat-label>
                    <input matInput (keyup)="keyup($event, userListFilterColumnsEnum.UserType)">
                </mat-form-field>
            </th>
         </ng-container>
         <ng-container matColumnDef="settings-placeholder">
            <th mat-header-cell *matHeaderCellDef>
                
            </th>
         </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnFilters"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="fab-container" *ngIf="userRole === typeEnum.Administrator">
        <button mat-fab class="mat-fab-button" color="primary"><mat-icon  matTooltip="Add Item" (click)="OpenAddEditItemDialog()">add</mat-icon></button>
    </div>
</mat-card>

