
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="input-container">
                <mat-icon color="primary">person</mat-icon>
                <mat-form-field class="login-full-width">
                    <mat-label>Username:</mat-label>
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </div>
            <div class="input-container">
                <mat-icon color="primary">key</mat-icon>
                <mat-form-field class="login-full-width">
                    <mat-label>Password:</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Submit!</button>
        </form>
    </mat-card>
</div>