<div class="task-item-container">
    <ng-container [ngSwitch]="projectTaskItem.taskItemStatus">
        <ng-container *ngSwitchCase="projectStatusEnum['In Progress']">
            <mat-icon class="material-icons color_yellow">build_circle</mat-icon>
        </ng-container>
        <ng-container *ngSwitchCase="projectStatusEnum['To Do']">
            <mat-icon class="material-icons color_red">highlight_off</mat-icon>
        </ng-container>
        <ng-container *ngSwitchCase="projectStatusEnum['Completed']">
            <mat-icon class="material-icons color_green">check_circle_outline</mat-icon>
        </ng-container>
    </ng-container>
    <div>
        <a style="font-size: large;">{{projectTaskItem.pricingListItem.pricingListItemName}}</a>
    </div>
    <div class="content">
        <a style="font-size: large;">Expenditure: {{projectTaskItem.expenditure}}</a>
    </div>
    <div class="content" *ngIf="projectTaskItem.taskItemStatus !== projectStatusEnum['To Do']">
        <a>Started: {{projectTaskItem.startTime | date:'longDate'}}</a>
    </div>
    <div class="content" *ngIf="projectTaskItem.taskItemStatus === projectStatusEnum['Completed']">
        <a>Finished: {{projectTaskItem.finishTime | date:'longDate'}}</a>
    </div>
        
    <div class="right-content-container">
        <ng-container [ngSwitch]="projectTaskItem.taskItemStatus" *ngIf="userRole !== userTypeEnum.Buyer">
            <ng-container *ngSwitchCase="projectStatusEnum['In Progress']">
                <button mat-flat-button class="mat-flat-button" color="primary" (click)="updateTaskStatus()">Finish Task</button>
                <mat-icon (click)="OpenAddExpenseDialog()" matTooltip="Add expense">attach_money</mat-icon>
            </ng-container>
            <ng-container *ngSwitchCase="projectStatusEnum['To Do']">
                <button  mat-flat-button class="mat-flat-button" color="primary" (click)="updateTaskStatus()">Start Task</button>
            </ng-container>
            <ng-container *ngSwitchCase="projectStatusEnum['Completed']">
                <button mat-flat-button class="mat-flat-button" color="primary" (click)="updateTaskStatus()">Restart Task</button>
            </ng-container>
        </ng-container>
        <mat-icon *ngIf="userRole !== userTypeEnum.Buyer" (click)="OpenAddEditItemDialog()" matTooltip="Edit item">settings</mat-icon>
        <mat-icon *ngIf="userRole !== userTypeEnum.Buyer" (click)="deleteTask()" matTooltip="Delete item">delete</mat-icon>
    </div>
</div>
