<h1>Task Completion</h1>
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <mat-divider></mat-divider>
    <div #containerRef *ngFor="let item of graphData.taskCompletions">
        <ngx-charts-pie-grid
        [view]="[containerRef.offsetWidth, 400]"
        [results]="item.pieGrid"
        [designatedTotal]="item.designatedTotal"
        label="Finished">
        </ngx-charts-pie-grid>
    </div>
</div>
<h1>Total Expenditure</h1>
<div style="display: flex; min-height: 400px;">
    <mat-divider></mat-divider>
    <ngx-charts-gauge
    [results]="graphData.gaugeData"
    [legend]="legend"
    [legendPosition]="legendPosition"
    >
</ngx-charts-gauge>
</div>
<div style="display: flex; padding-top: 20px; margin-left: auto; gap: 10px;">
    <button mat-raised-button color="primary" (click)="OpenAddEditItemDialog()">Buyer Account</button>
    <ng-container [ngSwitch]="project.projectStatus" *ngIf="userRole !== userTypeEnum.Buyer">
        <ng-container *ngSwitchCase="projectStatusEnum['In Progress']">
            <button mat-flat-button class="mat-flat-button" color="primary" (click)="updateProjectStatus(projectStatusEnum['Completed'])">Finish Project</button>
            <button mat-flat-button class="mat-flat-button" color="primary" (click)="updateProjectStatus(projectStatusEnum['To Do'])">Stop Project</button>
        </ng-container>
        <ng-container *ngSwitchCase="projectStatusEnum['To Do']">
            <button  mat-flat-button class="mat-flat-button" color="primary" (click)="updateProjectStatus(projectStatusEnum['In Progress'])">Start Project</button>
        </ng-container>
        <ng-container *ngSwitchCase="projectStatusEnum['Completed']">
            <button mat-flat-button class="mat-flat-button" color="primary" (click)="updateProjectStatus(projectStatusEnum['To Do'])">Stop Project</button>
        </ng-container>
    </ng-container>
</div>


