<mat-card class="mat-card-custom-color">
    <h2>Active Projects</h2>
    <mat-divider></mat-divider>
    <div class="projects-wrapper" fxFlexAlign="stretch">
        <div class="projects-wrapper active-number">
            <app-number-card
                [number]="numberOfActiveProjects"
                [positiveMode]="true"
                [caption]="'active project/s'"
            >
            </app-number-card>
            <app-number-card
                [number]="overdueProjects"
                [positiveMode]="false"
                [caption]="'overdue project/s'"
            >
            </app-number-card>
            <app-number-card
                [number]="overrunProjects"
                [positiveMode]="false"
                [caption]="'overrun project/s'"
            >
            </app-number-card>
        </div>
        <div *ngFor="let project of activeProjects">
            <app-project-card [projectData]="project">
            </app-project-card>
        </div>
    </div>
</mat-card>

<mat-card class="mat-card-custom-color">
    <h2>To Do Projects</h2>
    <mat-divider></mat-divider>
    <div class="projects-wrapper" fxFlexAlign="stretch">
        <ng-container *ngFor="let project of toDoProjects">
            <app-project-card [projectData]="project">
            </app-project-card>
        </ng-container>
    </div>
</mat-card>
