<h2 mat-dialog-title>Add Partner</h2>

<mat-dialog-content
    [formGroup]="form">
  
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input 
            matInput
            formControlName="name"
        >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input 
            matInput
            formControlName="address"
        >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Contact Person</mat-label>
        <input 
            matInput
            formControlName="contactPerson"
        >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Contact Number</mat-label>
        <input 
            matInput
            formControlName="contactNumber"
        >
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button style="margin-left: auto;" class="mat-raised-button mat-primary" (click)="saveChanges()">Save</button>
</mat-dialog-actions>
